* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: auto;
  margin: 0;
  height: 860px;
  background: #2f1893;
  padding: 2.2rem 13.2rem;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 16px 0;
  margin-bottom: 2.5rem;
}

header span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 14px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

a {
  padding: 14px;
  text-decoration: none;
  color: #fff;
}

.header-link {
  opacity: 0.3;
}

.btn {
  padding: 14px 20px;
  border: none;
  background: #e93a7d;
  color: #fff;
  border-radius: 28px;
  font-size: 18px;
  font-family: inherit;
}

.btn-header {
  width: 120px;
  text-align: center;
  padding: 8px 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content > h2 {
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1.6px;
  padding: 1.8rem 0 0 0;
  width: 424px;
  height: 254px;
}

.main-content > p {
  padding: 18px 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1px;
  width: 400px;
  margin-bottom: 2.2rem;
}

.btn-link {
  padding: 10px 26px;
}

.main-form {
  width: 480px;
  height: 630px;
  margin: 0 0 0 5rem;
  padding: 3.2rem 3.4rem;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.main-form h3 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #1e0e62;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

form input {
  width: 330px;
  height: 50px;
  padding: 14px 18px;
  margin-bottom: 1.4rem;

  font-size: 18px;
  font-weight: 500;
  color: rgba(21, 20, 57, 0.3);
  border: 2px solid rgba(235, 234, 237, 1);
  border-radius: 22px;
}

.check-form {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 1.1rem;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0;
}

.btn-signin {
  background: #482be7;
}

.btn-login {
  background: #1da1f2;
}

.option-form {
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: rgba(21, 20, 57, 0.323);
  font-size: 18px;
}

.form-text {
  padding: 20px 0;
  margin-top: 12px;
  color: rgba(21, 20, 57, 0.4);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.text-link {
  color: #25dac5;
  text-decoration: none;
}
